@font-face {
  font-family: 'FSMe';
  font-weight: 700; /* Bold */
  src: url('/fonts/FSMe-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/FSMe-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/FSMe-Bold.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/FSMe-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FSMe';
  font-weight: 400; /* Regular */
  src: url('/fonts/FSMe-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/FSMe-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/FSMe-Regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/FSMe-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FSMe';
  font-weight: 100; /* Light */
  src: url('/fonts/FSMe-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/FSMe-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/FSMe-Light.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/FSMe-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Mikado Black';
  font-weight: 400; /* Black */
  src: url('/fonts/Mikado Black.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Mikado Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/Mikado Black.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/Mikado Black.ttf') format('truetype');
}
