@font-face {
  font-family: 'Rustico';
  font-weight: 400; /* Regular */
  src: url('./rustico/Rustico-Regular.eot'); /* IE9 Compat Modes */
  src: url('./rustico/Rustico-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./rustico/Rustico-Regular.woff') format('woff'),
    /* Modern Browsers */ url('./rustico/Rustico-Regular.ttf')
      format('truetype');
}
