@import url('fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.notch-large {
  --notchSize: 2.2rem;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--notchSize)),
    calc(100% - var(--notchSize)) 100%,
    0 100%
  );
}

.notch-small {
  --notchSize: 1.2rem;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--notchSize)),
    calc(100% - var(--notchSize)) 100%,
    0 100%
  );
}

.mobile-notch-large {
  --notchSize: 0px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--notchSize)),
    calc(100% - var(--notchSize)) 100%,
    0 100%
  );
}

@screen lg {
  .mobile-notch-large {
    --notchSize: 2.2rem;

    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--notchSize)),
      calc(100% - var(--notchSize)) 100%,
      0 100%
    );
  }
}

/* TEMP  */
.box {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  background-color: #f9f07e;
  margin-left: auto;
  margin-right: auto;
}

.magic {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
